.NFT{
    margin-left: 20px;
}
.link{
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}
.market{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

font-feature-settings: 'salt' on;

color: #7A797D;
}
a {
    text-decoration: none;
  }
  .language{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 40px;
/* identical to box height */


/* Black */

color: #1E2832
  }

  .drawer{
 background-color: red;
  }
  .ul{
    display: grid;
    row-gap: 40px;
  }
  .over{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    
    
    color: #535353;
  }
  .toolbar{
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
  }
  .search{
    background-color: red;
  }
  .menu{
    display: flex;
    width: 300px;
    justify-content: space-around;
  }
  .icon{
    color: black;
   margin-top: 30px;
  }
  .circleBar{
  width: 130px;
  height: 130px;
  }
  .des{
    width: 140px;
    height: 16px;
  }
  .listCircle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 75px;
    column-gap: 100px;
    margin-top: 50px;
  }